aioredis
amqp
APScheduler
asgiref
async-timeout
attrs
autobahn
Automat
beautifulsoup4
billiard
celery
certifi
cffi
channels
channels-redis
chardet
constantly
coreapi
coreschema
cryptography
daphne
Django
django-apscheduler
django-cors-headers
django-easy-audit
django-filter
django-redis
django-simpleui
django-user-agents
djangorestframework
djangorestframework-jwt
dnspython
drf-writable-nested
drf-yasg
eventlet
greenlet
hiredis
hyperlink
idna
importlib-metadata
incremental
inflection
itypes
Jinja2
kombu
MarkupSafe
monotonic
msgpack
openai
packaging
Pillow
psutil
pyasn1
pyasn1-modules
pycparser
pycryptodome
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
pytz
PyYAML
redis
requests
ruamel.yaml
ruamel.yaml.clib
service-identity
six
soupsieve
sqlparse
Twisted
txaio
tzlocal
ua-parser
uritemplate
urllib3
user-agents
vine
zipp
zope.interface
whitenoise
```